{% extends "index.html" %}

{% block content %}
<div class="welcome-section">
    <!-- <p><span class="prompt">user@home-server:~$</span> whoami</p> -->
    <p id="typewriter-text1" class="output">
        Welcome to my digital Portfolio. Let me Introduce myslef:
    </p>
    <p><span class="prompt">Yubi@home-server:~$</span> whoami</p>
    <p class="output">
        <strong>Name:</strong> Yubi<br>
        <strong>Professional Summary:</strong> seasoned Tech Support and Technical Operations Engineer transitioning into
        Cybersecurity<br>
        <strong>Key Strength:</strong> IT Service Management, Technical Troubleshooting, Problem Solving, Process Engineering, Client Sucess, Customer service.<br>
        <strong>Techinical Toolset:</strong> Linux, Python and SQL <br>
        <strong>Current project:</strong> Building a Flask-based portfolio hosted on a home Ubuntu server.
    </p>
    <br> 
    <br> 
    <br>
    <p id="typewriter-text2" class="output"> 
        It's nice to meet you! Feel free to explore other tabs 
    </p>
</div>
{% endblock %}